{% extends 'base/base.html' %}

{% block content %}
	<h1 class="paciente-title">Lista de Pacientes</h1>

	<table class="table w-auto p-3 mx-auto">
	  <thead class="thead-light">
	  	{% if serializer %}
	    <tr>
	      <th scope="col">Id Paciente</th>
	      <th scope="col">Nombre(s)</th>
	      <th scope="col">Apellidos</th>
	      <th scope="col">Sexo</th>
	      <th scope="col">Edad</th>
	      <th scope="col">Alergias</th>
	      <th scope="col">Email</th>
	      <th scope="col">Acciones</th>
	    </tr>
	    {% endif %}
	  </thead>
	  <tbody>

	  	{% if serializer %}
	  		{% for paciente in serializer.data %}
		    <tr>
		      <th scope="row">{{paciente.id}}</th>
		      <td>{{paciente.nombre}}</td>
		      <td>{{paciente.apellidos}}</td>
		      <td>{{paciente.sexo}}</td>
		      <td>{{paciente.edad}}</td>
		      <td>{{paciente.alergias}}</td>
		      <td>{{paciente.email}}</td>
		      <td>
		      	<a href="" class="mx-auto pl-2"><i class="fas fa-edit fa-lg mx-auto"></i></a>
		      	<a href="" class="mx-auto pl-2 text-danger"><i class="fas fa-trash-alt fa-lg mx-auto"></i></a>
		      </td>
		    </tr>
		    {% endfor %}
		{% else %}
			<h2 class="paciente-title">No hay registros de pacientes</h2>
		{% endif %}
	  </tbody>
	</table>
{% endblock %}
