{% extends 'base/base.html' %}
{% load staticfiles %}
{% block title %} Crear Cita {% endblock %}

{% block content %}
	<h1 class="paciente-title">Crear Nueva Cita</h1>
	<form method="post" class="form-crear">
		{% csrf_token %}

		{{ form2.as_table }}
		{{ form.as_table }}
		<div class="d-flex flex-nowrap justify-content-end">
			<button type="submit" class="btn btn-outline-primary" style="width: 160px;">Guardar</button>
			<a href="{% url 'paciente:paciente_listar' %}" class="btn btn-outline-danger ml-2" style="width: 160px;">Cancelar</a>
		</div>

	</form>
{% endblock %}

<script>
  $(function () {
    $("#datetimepicker1").datetimepicker({
      format: 'DD/MM/YYYY HH:mm',
    });
  });
</script>
